<div class="document">
    <table>
        <thead>
            <tr>

                <th rowspan="2">N</th>
                <th rowspan="2">დანიშლნულება</th>
                <th rowspan="2">დრო</th>
                <th colspan="8">როცხვი</th>
            </tr>
            <tr>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th rowspan="4">1.</th>
                <th rowspan="4">მედროლგინი 30 მგ/მლ</th>
                <th></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th rowspan="4">2.</th>
                <th rowspan="4">მიდაქსი 1% კონიუქტივის თაღში - 5 წვ.</th>
                <th></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th rowspan="4"></th>
                <th rowspan="4"></th>
                <th></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th rowspan="4"></th>
                <th class="end" rowspan="4">
                    <div>ერთჯ. საგნების ხარჯი</div>
                </th>
                <th></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2"></th>

                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th rowspan="4"></th>
                <th class="items" rowspan="4">
                    <div>ერთჯერადი შპრიცი 2.0</div>
                    <div>არასტერილური ხელთათმანი</div>
                    <div>ბამბა</div>
                    <div> სპირტი</div>
                </th>
                <th class="start">1ც</th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th class="start">1ც</th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th class="start">1გ</th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th class="start">1მლ</th>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th rowspan="3" colspan="2">დანიშნულება შავასრულე მორიგე ექთანი:</th>
                <th rowspan="3"></th>
                <th colspan="2" rowspan="3"></th>
                <th rowspan="3"></th>
                <th rowspan="3"></th>
                <th rowspan="3"></th>
                <th rowspan="3"></th>
                <th rowspan="3"></th>
                <th rowspan="3"></th>
            </tr>
            <tr>


            </tr>
            <tr>


            </tr>
            <tr>
                <th rowspan="3" colspan="2">დანიშნულების შესრულება ვადასტურებ ექიმი</th>
                <th rowspan="3"></th>
                <th colspan="2" rowspan="2"></th>
                <th rowspan="3"></th>
                <th rowspan="3"></th>
                <th rowspan="3"></th>
                <th rowspan="3"></th>
                <th rowspan="3"></th>
                <th rowspan="3"></th>
            </tr>
            <tr>

            </tr>
            <tr>
                <th class="td"></th>
                <th class="tb"></th>

            </tr>
        </thead>
    </table>
</div>